.recent .box {
  background: rgba(20, 27, 72, 0.5);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 1px outset white;
}

.recent .box:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 25px rgba(105, 255, 68, 0.8);
}

.recent .text {
  padding: 30px;
  color: white;
}

.recent .category span {
  padding: 4px 15px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}

.recent .category i {
  font-size: 20px;
  color: #bec7d8;
}

.recent p {
  color: #d1d5db;
}

.recent .button {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 30px;
}

.recent .button .btn2 {
  background: white;
  color: black;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.recent .button .btn2:hover {
  background: #58fa00;
  color: white;
}
.container{
  color:white;
}