.location .box {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.location .box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.location img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location .overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4); /* Slightly transparent dark overlay */
  transition: background 0.3s ease-in-out;
}

.location .box:hover .overlay {
  background: rgba(0, 0, 0, 0.7); /* Darker overlay on hover */
}

.location h5 {
  font-size: 20px;
  opacity: 0.7;
  font-weight: 600;
  margin-bottom: 8px;
  transition: transform 0.3s ease-in-out;
}

.location .box:hover h5 {
  transform: scale(1.1);
  opacity: 1;
}

.location label {
  color: white;
  margin: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.location .box:hover label {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .location .overlay {
    padding: 20px;
  }
}
